extends master
include mixins/_announcement
include mixins/_confirmDelete

block templates
	script#announcementTemplate(type='text/html')
		+announcementTemplate

block body
	.row.mb-5
		.col-md-8.offset-md-2
			h2.text-center Create Announcement
			form#announcement(action='/api/announcements' method='POST')
				.form-group
					label(for='title') Title
					input.form-control(id='title' name='title' type='text' placeholder='Title' required maxlength='100')
				.form-group
					label(for='body') Message
					textarea.form-control(id='body' name='body' rows='3' placeholder='Type your message here' maxlength='1000' required)
				.form-check
					input.form-check-input(id='push' name='push' type='checkbox' value='true')
					label.form-check-label(for='push') Send push message
				button.btn.btn-primary(type='submit') Send
	.row.mb-5
		.col-md-6.offset-md-3
			ul#announcements.list-group
				each x in (announcements || [])
					+announcement(x)
	+confirmDelete('announcement')
block scripts
	script(src='/scripts/announcements.min.js')
