extends master

block body
	.row.mb-5
		.col-md-8.offset-md-2
			h2.text-center Contact Info
			form#contactinfo(action='/api/contactinfo' method='PUT')
				.form-group
					label(for='name') Name
					- var name = info.name || ''
					input.form-control(id='name' name='name' type='text' placeholder='Name' required value=name)
					small.form-text.text-muted Required
				.form-group
					label(for='email') Email
					- var email = info.email || ''
					input.form-control(id='email' name='email' type='email' placeholder='Email' required value=email)
					small.form-text.text-muted Required
				.form-group
					label(for='address1') Address
					- var address1 = info.address1 || ''
					input.form-control(id='address1' name='address1' type='text' placeholder='Mailing Address' value=address1)
				.form-group
					label(for='address2') Address (Line 2)
					- var address2 = info.address2 || ''
					input.form-control(id='address2' name='address2' type='text' placeholder='Optional' value=address2)
				.form-row
					.col-md-5
						.form-group
							label(for='city') City
							- var city = info.city || ''
							input.form-control(id='city' name='city' type='text' placeholder='City' value=city)
					.col-md-3
						.form-group
							label(for='state') State
							- var state = info.state || ''
							input.form-control(id='state' name='state' type='text' length='2' placeholder='State' value=state)
					.col-md-4
						.form-group
							label(for='zipcode') Zip Code
							- var zipcode = info.zipcode || ''
							input.form-control(id='zipcode' name='zipcode' type='text' pattern='^[0-9]{5}$' placeholder="Zip Code" value=zipcode)
				.form-group
					label(for='phone') Phone
					-
						var phone = info.phone || '';

						if (/^[0-9]{10}$/.test(info.phone)) {
							let parts = [
								phone.substr(0,3), 
								phone.substr(3,3),
								phone.substr(6,4)
							];
							phone = `(${parts[0]}) ${parts[1]}-${parts[2]}`;
						}
					input.form-control(id='phone' name='phone' type='text' input='tel' placeholder='Phone Number' value=phone)
				button.btn.btn-primary(type='submit') Save

block scripts
	script(src='/scripts/contactinfo.min.js')
