extends master
include mixins/_event
include mixins/_confirmDelete

block templates
	script#eventTemplate(type='text/html')
		+eventTemplate

block body
	.row.mb-5
		.col-md-8.offset-md-2
			h2.text-center Create Event
			form#event(action='/api/events' method='POST')
				.form-group
					label(for='title') Title
					input#title.form-control(name='title' type='text' placeholder='Title' required maxlength='100')
				.form-group
					label(for='description') Description
					textarea#description.form-control(name='description' rows='3' placeholder='Event description' required maxlength='1000')
				.form-row
					.form-group.col-md-7
						label.form-label(for='address') Address
						input#address.form-control(name='address' type='text' placeholder='1234 Test St, City, ST 99999' required)
						input#lat(name='lat' type='hidden' required)
						input#lon(name='lon' type='hidden' required)
					.form-group.col-md-3
						label(for='date') Date
						input#date.form-control(name='date' type='text' placeholder='MM/DD/YYYY' required)
					.form-group.col-md-2
						label(for='time') Time
						input#time.form-control(name='time' type='text' placeholder='HH:MM PM' required)
					.form-check
						input.form-check-input(id='push' name='push' type='checkbox' value='true')
						label.form-check-label(for='push') Send push notification
				button.btn.btn-primary(type='submit') Add event
	.row.mb-5
		.col-md-8.offset-md-2
			#events.list-group
				each x in (events || [])
					+event(x)
	+confirmDelete('event')
block scripts
	script(src='/scripts/events.min.js')
