include mixins/_alert

doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='shortcut icon' href='/images/favicon.png?v2=' + encodeURI(brand.name))
		link(rel='stylesheet', href='/css/app.css')
		block stylesheets

		script#alertTemplate(type='text/html')
			+alertTemplate
		block templates

		title= brand.name 
	
	body
		if authenticated
			include signedin-header.pug
		else
			include signedout-header.pug
		#main.container
			#alerts
				each x in (errors || [])
					+alert(x, 'danger')
				each x in (successes || [])
					+alert(x, 'success')
			block body
		script(src='/scripts/jquery/jquery.min.js')
		script(src='/scripts/popper/umd/popper.min.js')
		script(src='/scripts/jquery-serializeJSON/jquery.serializeJSON.min.js')
		script(src='/scripts/jquery-load-template/jquery.loadTemplate.min.js')
		script(src='/scripts/bootstrap/bootstrap.min.js')
		script(src='/scripts/common.min.js')
		block scripts
