extends master.pug

block body
	.row.mb-5
		.col
			h1.text-center= brand.name
			h3.text-center Admin Console
	.row
		.col-sm-8.offset-sm-2
			form(id='signin' action="/signin" method="POST")
				.form-group
					label(for='email') Email
					input.form-control(id='email' name='email' type='email' placeholder="Email address" required)
				.form-group
					label(for='password') Password
					input.form-control(id='password' name='password' type='password', placeholder="Password" required)
				button.btn.btn-primary(type='submit') Sign in
