include mixins/_brand.pug

nav.navbar.navbar-expand.fixed-top.navbar-light.bg-light
	+brand
	button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarItems' aria-controls='navbarItems' aria-expanded='false' aria-label='Toggle navigation')
		span.navbar-toggler-icon
	.collapse.navbar-collapse
		ul.navbar-nav
			- var eventsActive = (current === 'events') ? 'active' : '';
			li.nav-item(class=eventsActive)
				a.nav-link(href='/events') Events
			- var announcementsActive = (current === 'announcements') ? 'active' : '';
			li.nav-item(class=announcementsActive)
				a.nav-link(href='/announcements') Announcements
			- var contactInfoActive = (current === 'contactinfo') ? 'active' : '';
			li.nav-item(class=contactInfoActive)
				a.nav-link(href='/contactinfo') Contact Info
			- var toolsActive = (current === 'tools') ? 'active' : '';
			li.nav-item(class=toolsActive)
				a.nav-link(href='/tools') Tools
	form.form-inline.my-2.my-lg-0
		a.my-2.my-sm-0.btn.btn-outline-primary(href='/signout') Sign Out
