extends master
include mixins/_confirmReset

block body
	.row.mb-5
		.col-12
			h2.text-center Admin Tools
	.row.mb-5
		.col-md-2
			button#resetSite.btn.btn-danger(type='button' data-toggle='modal' data-target='#confirmReset') Reset Site
		.col-md-10
			span Clear all messages, announcements, contact info, and push tokens.
	+confirmReset
block scripts
	script(src='/scripts/tools.min.js')
