mixin alertTemplate()
	<div class="alert alert-dismissable fade show" role="alert">
		<strong data-content="title"></strong>&nbsp;<span data-content="body"></span>
		<button class="close" type="button" data-dismiss="alert" aria-label="close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

mixin alert(alrt, type)
	- var className = 'alert-' + type
	.alert.alert-dismissable.fade.show(class=className role='alert')
		strong= alrt.title
		|
		| #{alrt.body}
		button.close(type='button' data-dismiss='alert' aria-label='close')
			span(aria-hidden='true') &times;
