mixin announcementTemplate()
	<li class="announcement list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1" data-content="title"></h5>
			<button class="close" type="button" aria-label="delete">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<p class="mb-1" data-content="body"></p>
		<small data-content="footer"></small>
	</li>

mixin announcement(x)
	li.announcement.list-group-item.flex-column.align-items-start(data-id=x._id)
		.d-flex.w-100.justify-content-between
			h5.mb-1= x.title
			button.close(type='button' aria-label='delete')
				span(aria-hidden='true') &times;
		p.mb-1= x.body
		- var date = x.sentOn.toLocaleDateString('en-us')
		- var time = x.sentOn.toLocaleTimeString('en-us', {hour12: true, hour: 'numeric', minute: '2-digit'})
		small= date + ' @ ' + time
