mixin confirmDelete(entityType)
	#confirmDelete.modal.fade(tabindex='-1' role='dialog')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title Confirm delete
					button.close(type='button' data-dismiss='modal' aria-label='close')
						span(aria-hidden='true')
				.modal-body
					span Are you sure you want to delete this #{entityType}?
				.modal-footer
					button.btn.btn-secondary(type='button' data-dismiss='modal') Never mind
					button.confirm.btn.btn-danger(type='button') Yes, go ahead
