mixin confirmReset
	#confirmReset.modal.fade(tabindex='-1' role='dialog' aria-labelledby='confirmResetLabel' aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					#confirmResetLabel.modal-title Confirm reset
					button.close(data-dismiss='modal' aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body
					| This will delete 
					strong all announcements and events.
					| Are you sure you want to do this?
				.modal-footer
					button.btn.btn-secondary(type='button' data-dismiss='modal') Never mind
					button.confirm.btn.btn-danger(type='button') Do it
