mixin eventTemplate()
	<li class="event list-group-item flex-column align-items-start">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-0" data-content="title"></h5>
			<button class="close" type="button" aria-label="delete">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<small class="d-block text-muted" data-content="address"></small>
		<small class="d-block footer text-muted" data-content="eventTime" data-format="EventTimeFormatter"></small>
		<p class="mt-3 mb-1" data-content="description"></p>
	</li>

mixin event(ev)
	li.event.list-group-item.flex-column.align-items-start(data-id=ev.id)
		.d-flex.w-100.justify-content-between
			h5.mb-0= ev.title
			button.close(type='button' aria-label='delete')
				span(aria-hidden='true') &times;
		small.d-block.text-muted= ev.address
		- var date = ev.eventTime.toLocaleDateString('en-us')
		- var time = ev.eventTime.toLocaleTimeString('en-us', {hour12: true, hour: 'numeric', minute: '2-digit'})
		small.d-block.footer.text-muted= date + ' @ ' + time
		p.mt-3.mb-1= ev.description
