@import "bootstrap";

$fa-font-path: "../fonts";
@import "fontawesome";
@import "fa-solid";
@import "fa-regular";

#main { margin-top: 64px; }
.fixed { position: fixed; }
.scrollable { overflow: auto; height: 90vh; }
.user .fa-user-alt { font-size: 40px; }
